@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper {
    --swiper-theme-color: #39c8f7 !important;
}

.active {
    color: #39c8f7;
}
.TextDouble {
    color: #eff6e0;
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: sans-serif;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;  
}

.hoverAfter:after {
    content: "";
    position: absolute;
    height: 3px;
    left: 25%;
    width: 0%;
    bottom: -10px;
}
.hoverAfter:hover:after {
    transition: 0.3s;
    content: "";
    position: absolute;
    background: #39c8f7;
    height: 3px;
    left: 25%;
    width: 50%;
    bottom: -10px;
}
