@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-primario  : #eff6e0;
  --color-Secundario: #39c8f7;
  --color-terciario : #01161E;
  --color-hover     :

    --font-famili-serif: 'Roboto'
}

body {
  box-sizing : border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

* {
  padding: 0;
  margin : 0;
}

.mySwiper {
  --swiper-theme-color: var(--color-Secundario) !important;
}

.active {
  color: var(--color-Secundario);
}

.TextDouble {
  color        : var(--color-primario);
  font-size    : 5rem;
  margin-top   : 1rem;
  margin-bottom: 2rem;
  font-family  : sans-serif;
  text-shadow  : 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.hoverAfter:after {
  content : "";
  position: absolute;
  height  : 1px;
  left    : 25%;
  width   : 0%;
  bottom  : -10px;
}

.hoverAfter:hover:after {
  transition: 0.3s;
  content   : "";
  position  : absolute;
  background: var(--color-primario);
  height    : 1px;
  left      : 25%;
  width     : 50%;
  bottom    : -10px;
}

.hoverAfterNav:after {
  content : "";
  position: absolute;
  height  : 2px;
  left    : 0%;
  width   : 0%;
  bottom  : -10px;
}

.hoverAfterNav:hover:after {
  transition: 0.5s;
  content   : "";
  position  : absolute;
  background: var(--color-Secundario);
  height    : 2px;
  left      : 0%;
  width     : 100%;
  bottom    : -5px;
}

#root {
  font-family    : sans-serif;
  --animate-delay: 2s;
}

#imput {
  color: var(--color-terciario);
}

#imput:focus {
  color: var(--color-terciario);
}

.inputVacio {
  border-bottom: 4px solid var(--color-Secundario);
}

.inputLleno {
  border: 2px solid transparent;
}

.inputfocus:focus {
  border: 2px solid blue;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.slider {
  transition   : transform 3.5s ease-in-out;
  /* animation : 20s linear infinite; */
}

/* .borderImagPerfil::before {

  content: "";
}

.borderImagPerfil::after {
  content      : "";
  border       : var(--color-Secundario) solid 2px;
  margin-left  : 200px;
  margin-bottom: 20px;
  z-index      : 10;
} */